<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Medical Costs</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/normalize1.css" />
		<link rel="stylesheet" type="text/css" href="css/demo1.css" />
		<link rel="stylesheet" type="text/css" href="css/component1.css" />

		<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
		<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
	</head>

	<body class="demo-7">
		<div id="container" class="container intro-effect-jam3">

			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="/"><span></span></a>
			</div>

			<header class="header">
				<div class="bg-img"><img src="images/can_back.jpg" alt="Background Image" /></div>
				<div class="title">

					<h1>Comparing Healthcare of <br> US and Canada</h1>
					<p class="subline">Explaining if Canada's healthcare system can be adopted in United States.</p>

				</div>
			</header>
			<button class="trigger" data-info="Click to read more"><span>Trigger</span></button>


			<article class="content">

				<div>
					<p> To review, Canadian healthcare basically works like Medicare, but for everyone. Medical care is free, and it covers almost everything other than prescription drugs, glasses, and dental care. (Most people have supplementary insurance to cover those things). It keeps its drugs cheap by negotiating at a federal level with pharmaceutical companies.</p>
					<img src="images/pic1.png" style="width:100%;height:300;">
					<p id="container1" style="width:100%; height:300; margin:0 auto"></p>

					<blockquote>In Canada, the government spends approximately 70% of the total per capita cost while in US its close to 40%.</blockquote>

					<p>If we compare the directly, that is money spent by the governments in both the countries then there would be an increase in spending by the US Governemnt and that would then be added as a "Deficit" or as "Tax" to make up for that extra money.</p>

				<!--	<p id="container2" style="width:100%; height:300; margin:0 auto"></p>  -->
					<p id="container3" style="width:100%; height:300; margin:0 auto"></p>

					<p>Benefits</p>
						<img src="images/can1.png" style="width:100%;height:300;">
						<img src="images/can2.png" style="width:100%;height:300;">

					<p>Disadvantages</p>
						<img src="images/can3.png" style="width:100%;height:300;">

					<p>Conclusion</p>
					<p>Americans cannot adopt another country's structure but they can adapt those approaches to America's inherited conditions; adaptation is clearly the key, for it is not possible to import one nation's health care system into another. Those involved in the health care reform debate are interested in specific features of other systems that could be adapted for use in the U.S. system - not unlike the way American companies have become more efficient in part by adapting Japanese manufacturing and quality-management techniques. </p>

				</div>
			</article>


		</div>


		<script src="js/classie.js"></script>

		<script>
			(function() {

				// detect if IE : from http://stackoverflow.com/a/16657946
				var ie = (function(){
					var undef,rv = -1; // Return value assumes failure.
					var ua = window.navigator.userAgent;
					var msie = ua.indexOf('MSIE ');
					var trident = ua.indexOf('Trident/');

					if (msie > 0) {
						// IE 10 or older => return version number
						rv = parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
					} else if (trident > 0) {
						// IE 11 (or newer) => return version number
						var rvNum = ua.indexOf('rv:');
						rv = parseInt(ua.substring(rvNum + 3, ua.indexOf('.', rvNum)), 10);
					}

					return ((rv > -1) ? rv : undef);
				}());


				// disable/enable scroll (mousewheel and keys) from http://stackoverflow.com/a/4770179
				// left: 37, up: 38, right: 39, down: 40,
				// spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
				var keys = [32, 37, 38, 39, 40], wheelIter = 0;

				function preventDefault(e) {
					e = e || window.event;
					if (e.preventDefault)
					e.preventDefault();
					e.returnValue = false;
				}

				function keydown(e) {
					for (var i = keys.length; i--;) {
						if (e.keyCode === keys[i]) {
							preventDefault(e);
							return;
						}
					}
				}

				function touchmove(e) {
					preventDefault(e);
				}

				function wheel(e) {
					// for IE
					//if( ie ) {
						//preventDefault(e);
					//}
				}

				function disable_scroll() {
					window.onmousewheel = document.onmousewheel = wheel;
					document.onkeydown = keydown;
					document.body.ontouchmove = touchmove;
				}

				function enable_scroll() {
					window.onmousewheel = document.onmousewheel = document.onkeydown = document.body.ontouchmove = null;
				}

				var docElem = window.document.documentElement,
					scrollVal,
					isRevealed,
					noscroll,
					isAnimating,
					container = document.getElementById( 'container' ),
					trigger = container.querySelector( 'button.trigger' );

				function scrollY() {
					return window.pageYOffset || docElem.scrollTop;
				}

				function scrollPage() {
					scrollVal = scrollY();

					if( noscroll && !ie ) {
						if( scrollVal < 0 ) return false;
						// keep it that way
						window.scrollTo( 0, 0 );
					}

					if( classie.has( container, 'notrans' ) ) {
						classie.remove( container, 'notrans' );
						return false;
					}

					if( isAnimating ) {
						return false;
					}

					if( scrollVal <= 0 && isRevealed ) {
						toggle(0);
					}
					else if( scrollVal > 0 && !isRevealed ){
						toggle(1);
					}
				}

				function toggle( reveal ) {
					isAnimating = true;

					if( reveal ) {
						classie.add( container, 'modify' );
					}
					else {
						noscroll = true;
						disable_scroll();
						classie.remove( container, 'modify' );
					}

					// simulating the end of the transition:
					setTimeout( function() {
						isRevealed = !isRevealed;
						isAnimating = false;
						if( reveal ) {
							noscroll = false;
							enable_scroll();
						}
					}, 600 );
				}

				// refreshing the page...
				var pageScroll = scrollY();
				noscroll = pageScroll === 0;

				disable_scroll();

				if( pageScroll ) {
					isRevealed = true;
					classie.add( container, 'notrans' );
					classie.add( container, 'modify' );
				}

				window.addEventListener( 'scroll', scrollPage );
				trigger.addEventListener( 'click', function() { toggle( 'reveal' ); } );
			})();
		</script>

		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>

		<script>
		$(function () {
		    Highcharts.chart('container1', {
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Comparision of per capita cost in US and Canada by institutions'
		        },
		        xAxis: {
		            categories: [
		                '2010',
		                '2011',
		                '2012',
		                '2013',
		                '2014',
		                '2015'
		            ],
		            crosshair: true
		        },
		        yAxis: {
		            min: 0,
		            title: {
		                text: 'Amount (in US Dollars)'
		            }
		        },
		        tooltip: {
		            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
		            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
		                '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
		            footerFormat: '</table>',
		            shared: true,
		            useHTML: true
		        },
		        plotOptions: {
		            column: {
		                pointPadding: 0.2,
		                borderWidth: 0
		            }
		        },
		        series: [{
		            name: 'US',
		            data: [7929.372,8005.7887,8103.3367,8157.4229,8404.4305,8714.8975]

		        }, {
		            name: 'Canada',
		            data: [4092.0254,4141.6654,4194.5876,4193.0859,4261.9074,4406.8006]

		        }]
		    });
		});
		</script>

		<script>
		$(function () {
	    Highcharts.chart('container1', {

	        chart: {
	            type: 'column'
	        },

	        title: {
	            text: 'Comparision of Per capita spending in US and Canada '
	        },

	        xAxis: {
	            categories: ['2005','2006','2007','2008','2009','2010', '2011', '2012', '2013', '2014','2015']
	        },

	        yAxis: {
	            allowDecimals: false,
	            min: 0,
	            title: {
	                text: 'Amount (in US and Canadian Dollars)'
	            }
	        },

	        tooltip: {
	            formatter: function () {
	                return '<b>' + this.x + '</b><br/>' +
	                    this.series.name + ': ' + this.y + '<br/>' +
	                    'Total: ' + this.point.stackTotal;
	            }
	        },

	        plotOptions: {
	            column: {
	                stacking: 'normal'
	            }
	        },

	        series: [{
	            name: 'Private - US',
	            data: [3875.50, 3918.19, 4008.95, 3996.17, 4037.56, 4092.02, 4141.66, 4194.58, 4193.08, 4261.90, 4406.80],
	            stack: 'US'
	        }, {
	            name: 'Public - US',
	            data: [3217.23, 3351.47, 3440.08, 3565.41, 3741.04,3837.34, 3864.12, 3908.74, 3964.33,4142.52,4308.09],
	            stack: 'US'
	        }, {
	            name: 'Private - Canada',
	            data: [1330.69, 1388.37, 1410.25, 1430.18, 1511.0, 1556.53, 1507.86,	1513.38,	1523.60,	1503.34,	1529.12],
	            stack: 'Canada'
	        }, {
	            name: 'Public - Canada',
	            data: [3084.53, 3181.06, 3253.57, 3312.68, 3573.44, 3618.46, 3612.35, 3631.57, 3633.47, 3624.68, 3702.794],
	            stack: 'Canada'
	        }]
	    });
	});
		</script>

		<script>
		$(function () {
				Highcharts.chart('container3', {
						chart: {
								type: 'column'
						},
						title: {
								text: 'Increase in Taxes/Deficit'
						},
						xAxis: {
								categories: [
										'2005',
										'2006',
										'2007',
										'2008',
										'2009',
										'2010',
										'2011',
										'2012',
										'2013',
										'2014',
										'2015'
								],
								crosshair: true
						},
						yAxis: {
								min: 0,
								title: {
										text: 'Percentage (in %)'
								}
						},
						tooltip: {
								headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
								pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
										'<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
								footerFormat: '</table>',
								shared: true,
								useHTML: true
						},
						plotOptions: {
								column: {
										pointPadding: 0.2,
										borderWidth: 0
								}
						},
						series: [{
								name: 'Taxes',
								data: [31.27, 30.71, 29.80, 33.69, 47.92, 50.41, 44.29, 44.35, 39.99, 41.49, 40.25]

						}, {
								name: 'Deficit',
								data: [91.40,	129.64, 215.49, 84.23, 31.10, 35.09, 37.26, 46.06, 77.22, 119.75, 141.23]

						}]
				});
		});
		</script>

	</body>
</html>
