<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="images/bc.png">
		<title>The good and bad in Healthcare</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/normalize1.css" />
		<link rel="stylesheet" type="text/css" href="css/demo1.css" />
		<link rel="stylesheet" type="text/css" href="css/component1.css" />

		<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
		<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
	</head>

	<body class="demo-7">
		<div id="container" class="container intro-effect-jam3">

			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="/"><span></span></a>
			</div>

			<header class="header">
				<div class="bg-img"><img src="images/trendss.jpg" alt="Background Image" /></div>
				<div class="title">

					<h1>American Healthcare System - <br> Good and Bad</h1>
					<p class="subline">Current situation of American Healthcare System  explained.</p>
				</div>
			</header>
			<button class="trigger" data-info="Click to read more"><span>Trigger</span></button>


			<article class="content">

				<div>
					<p>Health Insurance Premiums Are Rising Faster Than Income.</p>
						<img src="images/income.jpg" style="width:100%;height:300;">
						<p>Why have premiums risen so much? There are several reasons. One of them is that the government has mandated that every policy must cover the 10 essential health benefits. As a result, insurance companies no longer operate in a free-market system. Because every policy covers the same items, there is very little flexibility or opportunity for innovation. In other words, insurers cannot tailor a policy like they could in the past. Hence, all policies are basically the same. In an Obamacare-compliant policy, the only variables are the co-insurance and deductible. The percentage of health care expenses covered ranges from 60% in a bronze plan, to 90% in a platinum plan.</p>

						<p>In the U.S. health care system, everything costs more. Being in a hospital cost more. Because our drugs cost more (prescription drug prices can be 10X the rate in the UK or Germany). And our doctors cost more (a US family physician makes 3X her German counterpart). Because their education costs more (the education for a German physician's education is nearly free). And on it goes. Why is American health care so expensive? Books could be written about this topic. And books have been written about this topic. In The Healing of America, T. D. Reid explored why American medicine falls behind other countries in quality while it races far ahead in cost of care. Near the end of the book, Reid expands on two big reasons why U.S. health care is so expensive: (1) Unlike other countries, the U.S. government doesn't manage prices; and (2) the complications created by our for-profit system adds tremendous costs.</p>

						<p>First, it really starts with the prices. While some developed countries have one health care insurance plan for everybody -- where the government either sets prices or oversees price negotiations -- the U.S. is unique in our reliance on for-profit insurance companies to pay for both essential and elective care. Twenty cents from every $1 goes, not to health care, but to "marketing, underwriting, administration, and profit," he says. In a system where government doesn't negotiate prices down, prices will be higher. In a system where for-profit companies need profit margins and advertising, prices will be higher.</p>
						<p>Second, the absurd complexity of U.S. health care creates its own costs. There is a separate health care system for seniors, veterans, military personnel, Native Americans, end-stage renal failure, under 16 in a poor family, over 16 in a poor family, and working for the federal government, Reid writes. That's on top of hundreds of private plans - All these systems require another inefficiency -- the existence of compilers, middlemen who compile the bills doctors submit and shuttle them thru the payment system. The US Government Accountability Office concluded that if we could get administrative costs of our medical system down to the Canadian level, the money saved would be enough to pay for health care for all the Americans who are uninsured.</p>

						<p>It's not like all this money buys us nothing. Complexity creates jobs, for high- and low-skilled workers alike. American health care is the world's envy in some categories, especially in cancer care, wait times, and access to new technologies for affluent and insured families. We have the highest share of adults (90 percent) who report being in good health. The OECD average is 69 percent. But in terms of coverage and cost, we rank embarrassingly low among developed countries. </[>]




				</div>
			</article>


		</div>


		<script src="js/classie.js"></script>

		<script>
			(function() {

				// detect if IE : from http://stackoverflow.com/a/16657946
				var ie = (function(){
					var undef,rv = -1; // Return value assumes failure.
					var ua = window.navigator.userAgent;
					var msie = ua.indexOf('MSIE ');
					var trident = ua.indexOf('Trident/');

					if (msie > 0) {
						// IE 10 or older => return version number
						rv = parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
					} else if (trident > 0) {
						// IE 11 (or newer) => return version number
						var rvNum = ua.indexOf('rv:');
						rv = parseInt(ua.substring(rvNum + 3, ua.indexOf('.', rvNum)), 10);
					}

					return ((rv > -1) ? rv : undef);
				}());


				// disable/enable scroll (mousewheel and keys) from http://stackoverflow.com/a/4770179
				// left: 37, up: 38, right: 39, down: 40,
				// spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
				var keys = [32, 37, 38, 39, 40], wheelIter = 0;

				function preventDefault(e) {
					e = e || window.event;
					if (e.preventDefault)
					e.preventDefault();
					e.returnValue = false;
				}

				function keydown(e) {
					for (var i = keys.length; i--;) {
						if (e.keyCode === keys[i]) {
							preventDefault(e);
							return;
						}
					}
				}

				function touchmove(e) {
					preventDefault(e);
				}

				function wheel(e) {
					// for IE
					//if( ie ) {
						//preventDefault(e);
					//}
				}

				function disable_scroll() {
					window.onmousewheel = document.onmousewheel = wheel;
					document.onkeydown = keydown;
					document.body.ontouchmove = touchmove;
				}

				function enable_scroll() {
					window.onmousewheel = document.onmousewheel = document.onkeydown = document.body.ontouchmove = null;
				}

				var docElem = window.document.documentElement,
					scrollVal,
					isRevealed,
					noscroll,
					isAnimating,
					container = document.getElementById( 'container' ),
					trigger = container.querySelector( 'button.trigger' );

				function scrollY() {
					return window.pageYOffset || docElem.scrollTop;
				}

				function scrollPage() {
					scrollVal = scrollY();

					if( noscroll && !ie ) {
						if( scrollVal < 0 ) return false;
						// keep it that way
						window.scrollTo( 0, 0 );
					}

					if( classie.has( container, 'notrans' ) ) {
						classie.remove( container, 'notrans' );
						return false;
					}

					if( isAnimating ) {
						return false;
					}

					if( scrollVal <= 0 && isRevealed ) {
						toggle(0);
					}
					else if( scrollVal > 0 && !isRevealed ){
						toggle(1);
					}
				}

				function toggle( reveal ) {
					isAnimating = true;

					if( reveal ) {
						classie.add( container, 'modify' );
					}
					else {
						noscroll = true;
						disable_scroll();
						classie.remove( container, 'modify' );
					}

					// simulating the end of the transition:
					setTimeout( function() {
						isRevealed = !isRevealed;
						isAnimating = false;
						if( reveal ) {
							noscroll = false;
							enable_scroll();
						}
					}, 600 );
				}

				// refreshing the page...
				var pageScroll = scrollY();
				noscroll = pageScroll === 0;

				disable_scroll();

				if( pageScroll ) {
					isRevealed = true;
					classie.add( container, 'notrans' );
					classie.add( container, 'modify' );
				}

				window.addEventListener( 'scroll', scrollPage );
				trigger.addEventListener( 'click', function() { toggle( 'reveal' ); } );
			})();
		</script>

		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>

		<script>


$(function () {
    Highcharts.chart('container1', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Hospital Care Expenditure'
        },
        subtitle: {
            text: 'Source: '
        },
        xAxis: {
            categories: [1970,1980,1990,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Amount (in Billion)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color: {series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y: .1f} Billions </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
        	  name: 'Total',
            data: [27.2, 100.5, 250.4, 415.4, 449.4, 486.5, 525.9, 565.4, 608.6, 651.2, 692.0, 727.6,
                778.1, 817.6, 853.2, 902.7, 933.9, 971.8]
        }, {
            name: 'Health Insurance',
            data: [19.4, 80.1, 206.9, 358.2, 390.7, 424.4, 456.7, 492.7, 531.6, 566.9,
                637.5, 680.6, 713.0, 743.3, 743.3, 806.1, 840.8]

        }]
    });
});
		</script>

	</body>
</html>
